.task {
    width: 100%;

    display: flex;
    padding: var(--padding-base);
    align-items: flex-start;
    gap: 0.75rem;

    border-radius: 8px;
    border: 1px solid var(--gray-500);
    background: var(--gray-500);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
}

.done {
    width: 100%;

    display: flex;
    padding: var(--padding-base);
    align-items: flex-start;
    gap: 0.75rem;

    border-radius: 8px;
    border: 1px solid var(--gray-500);
    background: var(--gray-500);

    color: var(--Gray-300, #808080);
    text-decoration-line: line-through;
}

.checkboxWrapper {
    position: relative;
    width: 19px;
    height: 18px;
    
    & [type="checkbox"] {
        position: absolute;
        inset: 0;
        opacity: 0; /* Oculta o checkbox */
        cursor: pointer;
    }

    .checkboxImage {
        width: 100%;
        height: 100%;
        background-image: url(../assets/unchecked-default.svg);
        background-size: cover;
    }


    .checkboxImage.checked {
        background-image: url(../assets/checked-default.svg);
    }
}

.removeIcon {
    cursor: pointer;
    margin-left: auto;

    &:hover {
        color: var(--danger);
    }
}






